# macOS System Files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Temporary files & backups
*.bak
*.bak.*
*.tmp
*.tmp.*
*.swp
*~

# IDE & Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Tooling
.trunk/
.kilo/

